a{
  color: #1a9cb7;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.spacer{
  flex: 1 1 auto;
}
.text{
  color: #9e9e9e;
}
.header-title{
  color: #757575;
  font-family: Roboto-Medium;
  font-weight: 500;
}
.vertical-center{
  display: flex;
  align-items: center;
}
.fas, .far{
  color: #757575;
}
.font-14{
  font-size: 14px;
}
.bottom-border{
  border-bottom: 1px solid #eff0f5;
}